#menu{margin: 0;}
.menu_{display:inline-block;margin: 0 15px;vertical-align:top}

html{
  font-family : 'Roboto', Arial, sans-serif;
}

.menu {
  background-color: black; /* Fond d'écran noir */
  padding: 5px; /* Espacement intérieur */
}

.menu_ {
  list-style-type: none; /* Supprime les puces de la liste */
  margin: 10px 0; /* Marge entre les éléments de la liste */
}

.menu_ button {
  background-color: transparent; /* Pas de fond */
  color: white; /* Couleur du texte */
  border: 1px; /* Bordure blanche */
  padding: 10px 20px; /* Espacement intérieur */
  cursor: pointer; /* Changement de curseur au survol */
  outline: none; /* Supprime le contour par défaut */
}

.menu_ button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Légère teinte au survol */
}

.haut_page{
  background-color: #202020;
  color: white;
  padding: 20px;
}
